-
	var list = [	
		{ title: 'ВТБ Мои инвестиции', text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' },
		{ title: 'БКС Мой Брокер'},
		{ title: 'ПСБ Инвестиции'},		
		{ title: 'РСХБ Брокер'},
		{ title: 'АльфаСтрахование'}
	]	

mixin performance(index, circle, phone, yes, dash )
	.container
		.performance
			.performance__wrap-1
				each item in list				
					.performance__item(class= (item === list[index]? 'active' : ''))
						.performance__header= item.title	
						.performance__text= item.text
						if yes
							.performance__detail
								.performance__detail-dash(style=`background-color: ${dash}`)
								.performance__detail-label Подробнее о проекте
			.performance__wrap-2
				.performance__circle(style=`background-color: ${circle}`)
				img.performance__img(src= '/../assets/img/'+ phone +'.png' alt= phone)


