.container
	.request
		.request__title Давайте обсудим Ваш проект
		.request__send
			.request__send-tube
				img(src='/../assets/img/tube.png' alt='')
			.request__send-input
				input(type='text' placeholder='Введите номер телефона')
			.request__send-line 
			.request__send-text Нажимая на «Отправить заявку», вы даёте согласие на обработку персональных данных						
			input(type="submit" class= "request__send-button " value="Отправить заявку")
		.request__info
			.request__info-pointer
				img(src='/../assets/img/pointer.png' alt='')
			.request__info-address Москва, ул. Краснобогатырская, д.6, Бизнес-Центр «Вилла-Рива», офис 233
			.request__info-envelope
				img(src='/../assets/img/email.png' alt='')
			.request__info-email info@digitalcloud.com	


