html {
  height: 100%;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  color: $MainDark;

  @media screen and (max-width: 600px) {
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  background-color: $BG;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: 600px) {
    overflow-x: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 16.67%;

  @media screen and (max-width: 640px) {    
    margin: 0;
  }
}

.screen {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s linear;
  opacity: 0;
  align-items: center;

  &--active {
    opacity: 1;
    z-index: 1;       
  }

  @media screen and (max-width: 600px) {
    position: static;
    transition: none;
    opacity: 1;
  }

  & > .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.title {
  font-family: $boldFont;
  font-size: 32px;
  line-height: 100%;
}

.text {
  font-size: 20px;
  line-height: 170%;
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(179, 157, 157, 0.6);
  position: absolute;
  transition: top 0.5s, left 0.5s;
  -webkit-transition: top 0.5s, left 0.5s;
  transition: all 0.5s ease;
  z-index: 0;
}

.bigball {
  @extend .ball;

  width: 50px;
  height: 50px;
  background-color: rgba(179, 157, 157, 0.1);
  border: 1px solid rgba(179, 157, 157, 1);
  margin: -15px 0 0 -15px;
  z-index: 0;
}

.white {
  color: $White;
}
