mixin clientPro(title, text, path, name, colorCircle)
	.container
		.client
			.client__wrap-1
				.client__title= title	
				.client__text= text
				.client__download
					.client__download-label Скачать:
					a.client__download-apple(href="/apple")
						svg(width='24' height='29' viewBox='0 0 24 29' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M15.4205 5.44181C16.1442 4.71877 16.6783 3.92684 17.0229 3.06569C17.356 2.20455 17.5226 1.42408 17.5226 0.723403C17.5226 0.677803 17.5197 0.619747 17.5139 0.551164C17.5079 0.482581 17.5053 0.425516 17.5053 0.378925C17.4939 0.344478 17.4795 0.281315 17.4623 0.189124C17.4451 0.0976107 17.4307 0.0344478 17.4192 0C15.3976 0.470751 13.962 1.32043 13.112 2.54898C12.2505 3.78873 11.8025 5.26415 11.7681 6.97491C12.5373 6.90571 13.1346 6.80877 13.56 6.68245C14.1803 6.47519 14.8002 6.06213 15.4205 5.44181Z' fill='#3A67FF')
							path(d='M21.278 18.748C20.4854 17.6123 20.0891 16.3325 20.0891 14.9087C20.0891 13.6119 20.4621 12.4243 21.209 11.3451C21.6111 10.76 22.2658 10.0828 23.1733 9.31344C22.576 8.57919 21.9787 8.0056 21.3814 7.59175C20.3016 6.84661 19.0782 6.47266 17.7116 6.47266C16.8961 6.47266 15.9025 6.66844 14.7308 7.05838C13.6051 7.44895 12.7838 7.64343 12.2672 7.64343C11.8767 7.64343 11.0841 7.47125 9.88945 7.12694C8.68337 6.78258 7.66712 6.6104 6.84003 6.6104C4.86431 6.6104 3.23321 7.43681 1.94699 9.08994C0.648998 10.7657 0 12.9118 0 15.5284C0 18.3058 0.84425 21.1922 2.53285 24.1882C4.24409 27.1607 5.97279 28.6468 7.71879 28.6468C8.3046 28.6468 9.06241 28.4517 9.99284 28.0617C10.9233 27.6829 11.7385 27.4936 12.4392 27.4936C13.1859 27.4936 14.0528 27.6773 15.0409 28.0442C16.0859 28.4115 16.89 28.5949 17.4529 28.5949C18.9228 28.5949 20.3989 27.4703 21.8807 25.221C22.8456 23.7865 23.552 22.3515 24 20.917C22.9778 20.6075 22.0706 19.8843 21.278 18.748Z' fill='#3A67FF')
					a.client__download-android(href="/android")
						svg(width='24' height='31' viewBox='0 0 24 31' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M1.75543 9.7207C1.26675 9.7207 0.852127 9.90103 0.511297 10.2617C0.170466 10.6224 0 11.0551 0 11.5603V19.3159C0 19.8336 0.170415 20.272 0.511297 20.6327C0.852127 20.9934 1.26675 21.1738 1.75543 21.1738C2.24376 21.1738 2.65587 20.9934 2.99142 20.6327C3.3263 20.2721 3.4942 19.8336 3.4942 19.3159V11.5603C3.4942 11.0551 3.32379 10.6224 2.98291 10.2617C2.64202 9.90103 2.23278 9.7207 1.75543 9.7207Z' fill='#3A67FF')
							path(d='M15.8694 2.75981L17.0795 0.397024C17.159 0.240598 17.1307 0.120646 16.9945 0.0362992C16.8467 -0.0364319 16.7331 0.000422162 16.6537 0.144256L15.4266 2.52593C14.3468 2.02066 13.2047 1.76757 12.0004 1.76757C10.7959 1.76757 9.65375 2.02072 8.57438 2.52593L7.34721 0.144256C7.26746 0.000422162 7.15387 -0.0361062 7.00637 0.0362992C6.86986 0.121025 6.8416 0.240598 6.92134 0.397024L8.13159 2.75981C6.90442 3.42215 5.92705 4.34458 5.19985 5.52912C4.47264 6.71431 4.10889 8.00947 4.10889 9.41687H19.8749C19.8749 8.0098 19.5111 6.71459 18.7839 5.52912C18.0567 4.34458 17.0849 3.42215 15.8694 2.75981ZM8.87254 6.19651C8.74167 6.33535 8.58535 6.40445 8.40365 6.40445C8.2216 6.40445 8.06846 6.33535 7.94353 6.19651C7.81861 6.05832 7.75614 5.89354 7.75614 5.70058C7.75614 5.50828 7.81861 5.34317 7.94353 5.20466C8.06846 5.06647 8.22195 4.99737 8.40365 4.99737C8.58535 4.99737 8.74167 5.06647 8.87254 5.20466C9.00311 5.3435 9.0687 5.50828 9.0687 5.70058C9.06834 5.89321 9.0028 6.05832 8.87254 6.19651ZM16.0567 6.19651C15.9315 6.33535 15.778 6.40445 15.5966 6.40445C15.4145 6.40445 15.2583 6.33535 15.1276 6.19651C14.9968 6.05832 14.9315 5.89354 14.9315 5.70058C14.9315 5.50828 14.9968 5.34317 15.1276 5.20466C15.2583 5.06647 15.4145 4.99737 15.5966 4.99737C15.7783 4.99737 15.9315 5.06647 16.0567 5.20466C16.1817 5.3435 16.2441 5.50828 16.2441 5.70058C16.2441 5.89321 16.1817 6.05832 16.0567 6.19651Z' fill='#3A67FF')
							path(d='M4.17432 22.0757C4.17432 22.6294 4.35601 23.0981 4.71946 23.4827C5.08322 23.8673 5.52611 24.0596 6.04894 24.0596H7.31032L7.3276 28.1546C7.3276 28.6717 7.49802 29.1108 7.83885 29.4715C8.17969 29.8323 8.58898 30.0126 9.06602 30.0126C9.5544 30.0126 9.96929 29.8323 10.3102 29.4715C10.6511 29.1108 10.8215 28.6717 10.8215 28.1546V24.06H13.1735V28.1546C13.1735 28.6717 13.3439 29.1108 13.6848 29.4715C14.0257 29.8323 14.4402 30.0126 14.9289 30.0126C15.4173 30.0126 15.8322 29.8323 16.1731 29.4715C16.514 29.1108 16.6843 28.6717 16.6843 28.1546V24.06H17.9627C18.474 24.06 18.9112 23.8676 19.2753 23.483C19.6387 23.0984 19.8205 22.6297 19.8205 22.0761V10.0625H4.17432V22.0757Z' fill='#3A67FF')
							path(d='M22.2443 9.7207C21.7669 9.7207 21.358 9.89838 21.0171 10.2527C20.6763 10.6078 20.5059 11.0439 20.5059 11.5603V19.3159C20.5059 19.8336 20.6762 20.272 21.0171 20.6327C21.358 20.9934 21.7672 21.1738 22.2443 21.1738C22.7327 21.1738 23.1476 20.9934 23.4885 20.6327C23.8294 20.272 23.9998 19.8336 23.9998 19.3159V11.5603C23.9998 11.0438 23.8294 10.6078 23.4885 10.2527C23.1476 9.89838 22.7327 9.7207 22.2443 9.7207Z' fill='#3A67FF')

			.client__wrap-2
				.client__circle(style=`background-color: ${colorCircle}`)
				.client__img
					img(src= path alt= name)





