.cli {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 640px) {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 300px;
  }

  @media screen and (max-width: 480px) {
    margin-bottom: 100px;
  }

  &__wrap > .container {
    @media screen and (max-width: 380px) {
      height: 300px;
    }
  }

  &__title {
    color: $MainDark;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__hidden-title {
    color: $MainDark;
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
      margin: 80px auto 0;
    }

    @media screen and (max-width: 480px) {
      font-size: 24px;
      text-align: center;
      margin-top: 80px;
    } 
  }

  &__content {
    width: 460px;
    margin-top: 170px;

    @media screen and (max-width: 800px) {
      width: 300px;
      margin-top: 100px;
    }

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 60px auto 0;
    }
  }

  &__text {
    margin: 50px 0;
    line-height: 170%;

    @media screen and (max-width: 480px) {
      font-size: 16px;
      margin: 20px 0;
    }
  }

  &__load {
    width: 200px;
    height: 32px;
    position: relative;
    margin-left: 100px;

    @media screen and (max-width: 640px) {
      margin: 0;
    }

    &-label {
      position: absolute;
      top: 2px;
      font-size: 20px;

      @media screen and (max-width: 650px) {
        font-size: 18px;
      }
    }

    &-apple {
      position: absolute;
      left: 115px;
    }

    &-android {
      position: absolute;
      left: 170px;
    }
  }

  & .showing__image {
    @media screen and (max-width: 650px) {
      display: block;
      width: 50%;
      margin: 0 0 -20% 20%;
    }

    @media screen and (max-width: 480px) {
      width: 40%;
      margin: -10% 0 -40% 28%;
    }

    @media screen and (max-width: 380px) {
      margin-botton: 45%;
    }
  }
}
