.client {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 640px) {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__content {
    width: 460px;

    @media screen and (max-width: 1000px) {
      width: 50%;
    }

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 60px auto 0;
    }
  }

  &__title {
    color: $MainDark;
    z-index: 0;

    @media screen and (max-width: 1000px) {
      font-size: 24px;
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__title-mobile {
    color: $MainDark;
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
      margin: 30px auto 44px 10%;
    }
  }

  &__text {
    margin: 46px 0 51px;

    @media screen and (max-width: 640px) {
      margin: 0 0 51px;
    }
  }

  &__load {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;

    @media screen and (max-width: 1000px) {
      margin: 0;
    }
  }

  &__apple {
    margin-left: 40px;
  }

  &__android {
    margin-left: 40px;
  }

  & .showing__image {
    @media screen and (max-width: 640px) {
      display: flex;  
      width: 60vw;      
    }

    @media screen and (max-width: 500px) {      
      width: 70vw;      
    }

    @media screen and (max-width: 420px) {      
      width: 85vw;
      height: 60vh;
    }
  }
}
