include ../mixins/icon-block 

.content-competence
	.content-competence__title Наши компетенции					
	.content-competence--margin-left
		+iconBlock('/../assets/img/', 'native', 'Native App')
		.content-competence__line
		.content-competence__text Нативные приложения оптимизированы под конкретные операционные системы, такие как IOS/Android	
	+iconBlock('/../assets/img/', 'prototype', 'Prototype')
	+iconBlock('/../assets/img/', 'design', 'Design')
	+iconBlock('/../assets/img/', 'backend', 'Back-end')
	+iconBlock('/../assets/img/', 'frontend', 'Front-end')
	+iconBlock('/../assets/img/', 'middleware', 'MiddleWare')


