.footer-base {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 80px;

  &__symbol-1 {
    position: fixed;
    left: 80px;
    font-weight: 600;
  }

  &__symbol-2 {
    position: fixed;
    bottom: 70px;  
    height: 2px;
  }

  &__symbol-3 {
    position: fixed;
    bottom: 70px;   
    height: 2px;
  }

  &__symbol-4 {
    position: fixed;
    left: 180px;
    font-weight: 600;
    color: $GrayDecor;
  } 
  
  &__blog {
    position: fixed;
    right: 80px;
  }
}




