.icon-block {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  height: 24px;

  &__img {
    margin: 0 45px 0 0;
  }

  &__text {
    font-size: 20px;
    font-weight: 600;
    color: $Blue;
  }
}

