include ../../../component/client-intro/client-intro.pug

.screen.client-intro(data-pager="3").styles__alpha
	+clientIntro('/../assets/img/phone-alpha.png', 'alpha', '', '#E5EAF5', '',
	'', '', '', '', 'alpha')

// путь к img / alt для img / цвет полоски перед "Подробнее..." / цвет круга / краткое описание проекта 
// последние 5 строк принимают доп стили для названий проектов	