include ../../../component/client-intro/client-intro.pug

.screen.client-intro(data-pager="3").styles__bks  
	+clientIntro('/../assets/img/phone-bks.png', 'bks', '', '#45309C', '',
	'', 'bks', '', '', '')

// путь к img / alt для img / цвет полоски перед "Подробнее..." / цвет круга / краткое описание проекта 
// последние 5 строк принимают доп стили для названий проектов	