include ../../../component/client-intro/client-intro.pug

.screen.client-intro(data-pager="3").styles__vtb 
	+clientIntro('/../assets/img/phone-vtb.png', 'vtb', '#FFFFFF', '#D33141',
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'vtb', '', '', '', '')