include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="4")
	+clientPro('АльфаСтрахование', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов АльфаСтрахования и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'showing__alp-img-2',
	'alpha',
	'https://apps.apple.com/ru/app/id1523286376',
	'https://play.google.com/store/apps/details?id=alfa.life.mapp')