include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="3")
	+clientPro('РСХБ Брокер', 
	'Приложение предосавляет доступ к широкому перечню инвестиционных инструментов Группы РСХБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'showing__rsh-img')