include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="2")
	+clientPro('ПСБ Инвестиции', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ПСБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями'
	,'/../assets/img/phone-psb-w.png', 'psb', '#2C2D84')