include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="5")
	+clientPro('БКС Мой Брокер', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы БКС и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями'
	,'/../assets/img/phone-bks-w.png', 'bks', '#E5EAF5')