include ../../../component/client-pro/client-pro.pug

.screen.screen--active.client-pro(data-pager="1")
	+clientPro('ВТБ Мои инвестиции', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'performance__vtb-img-2',
	'vtb')