include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="2")
	+clientPro('ПСБ Инвестиции', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ПСБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'showing__psb-img-2',
	'psb',
	'',
	'')