include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="5")
	+clientPro('БКС Мой Брокер', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы БКС и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями',
	'showing__bks-img-2')