include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="1")
	+clientPro('ВТБ Мои инвестиции', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями'
	,'/../assets/img/phone-vtb-w.png', 'vtb', '#112A94')