include ../../../component/client-pro/client-pro.pug

.screen.client-pro(data-pager="4")
	+clientPro('АльфаСтрахование', 
	'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов АльфаСтрахования и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями'
	,'/../assets/img/phone-alpha-w.png', 'alpha', '#CE1E3B')