extends ../../layout/main.pug
include ../../../component/header/header

block db
	- var navActive = 'projects';

block header
	+header()

block content
	main
		.project--ground-move
			.project.container
				.project__intro.project--color-white
					.project__intro-title  ВТБ Мои инвестиции
					.project__intro-text-1 Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями
					.project__intro-text-2 «Лучшее инвестиционное приложение» от РАЭК, конкурс «Золотое приложение 2018»

				.project__phone
					img(src= '/../assets/img/phone-portfolio-1.png' alt= 'portfolio')

				.project__intro
					.project__intro-title  Процесс работы
					.project__intro-text-1 С момента начала сотрудничества выпущено несколько релизов приложения, внедрены самые современные сервисы, включая персонального советника.
					.project__intro-text-2 Мобильное приложение работает  на платформе EffectiveTrade Mobile.

				.project__phone.project--margin-1
					img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

				.project__phone.project--margin-2
					img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

				.project__intro.project--margin-3
					.project__intro-title  Процесс работы
					.project__intro-text-1 С момента начала сотрудничества выпущено несколько релизов приложения, внедрены самые современные сервисы, включая персонального советника.

				.project__phone.project--margin-4
					img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

				.project__phone.project--margin-5
					img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

				.project__intro.project--margin-6
					.project__intro-text-2 Мобильное приложение работает  на платформе EffectiveTrade Mobile.

				.project__phone.project--margin-7
					img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

block footer
	+footer(true)