extends ../layout/main.pug

block db
	- var navActive = 'main';

block head
	+head(
		'Digital Cloud - Главная',
		'Компания CloudFactory создаёт сложные, продуманные до мелочей приложения уже более 13 лет.',
		'CloudFactory, банковские и брокерские приложения, 13 лет на рынке '
	)

block content	
	main.container
		include ./index/_index.intro.pug
		include ./index/_index.about.pug		
		include ./index/_index.clients.pug	
		include ./index/_index.award.pug		
		include ./index/_index.competence.pug			
		include ./index/_index.performance.pug							
		include ./index/_index.request.pug			
		+ball()

