extends ../layout/main.pug

block db
	- var navActive = 'main';

block head
	+head(
		'Digital Cloud - Главная',
		'Компания CloudFactory создаёт сложные, продуманные до мелочей приложения уже более 13 лет.',
		'CloudFactory, банковские и брокерские приложения, 13 лет на рынке '
	)

block content	
	main.container
		include ./index/index.banner.pug
		include ./index/index.intro.pug		
		include ./index/index.clients.pug	
		include ./index/index.awards.pug		
		include ./index/index.competence.pug			
		include ./index/index.showing.pug							
		include ./index/index.discussion.pug			
	

