// Fonts
$mainFont         : 'Montserrat-Regular', Helvetica, Arial, sans-serif;
$mediumFont       : 'Montserrat-Medium', Helvetica, Arial, sans-serif;
$semiBoldFont     : 'Montserrat-SemiBold', Helvetica, Arial, sans-serif;
$boldFont         : 'Montserrat-Bold', Helvetica, Arial, sans-serif;
$extraBoldFont    : 'Montserrat-ExtraBold', Helvetica, Arial, sans-serif;
$secondFont       : 'Sansation', Helvetica, Arial, sans-serif;

// Colors
$BG               : #F9F9FD;
$Blue             : #3A67FF;
$BlueDark         : #112A94;
$BlueBG           : #2C2D84;
$Gray             : #8189A0;
$GrayDecor        : #BCC2CF;
$GreenBG          : #238441;
$LightGrayDecor   : #E5EAF5;
$MainDark         : #43495B;
$RedDecor         : #CE1E3B;
$VioletDecor      : #45309C;
$OrangeDecor      : #E9894D;
$White            : #FFFFFF;

// Sizes
$mainFontSize      : 16px;
$mainFontWeight    : 400;
$mainLineHeight    : 1.4;



