.contacts {
  &__title {
    margin-bottom: 80px;

    @media screen and (max-width: 1300px) {
      margin-bottom: 60px;
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 30px;
      font-size: 28px;
    }

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 60px 10% 0;
      font-size: 24px;
    }
  }

  &__wrap {
    display: flex;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  // ============================ подгонка типового модуля формы ==================================

  &__form {
    margin: 0 46px 0 100px !important;

    @media screen and (max-width: 1400px) {
      margin: 0 46px 0 0 !important;
    }

    @media screen and (max-width: 1000px) {
      margin: 0 20px 0 0 !important;
    }

    @media screen and (max-width: 800px) {
      align-self: center;
      margin: 0 20px 20px 0 !important;
    }

    @media screen and (max-width: 640px) {
      width: 90vw !important;
      margin: 0 auto !important;
    }

    @media screen and (max-width: 480px) {
      width: 100vw !important;      
    }
  }

  // ============================== карта ============================================

  &__map {
    width: 700px;
    height: 360px;

    @media screen and (max-width: 1600px) {
      width: 40vw;
    }

    @media screen and (max-width: 1200px) {
      height: 300px;
    }

    @media screen and (max-width: 800px) {
      width: 80vw;
      height: 180px;
      align-self: center;
    }

    @media screen and (max-width: 640px) {
      width: 80vw;
      margin: 0 10vw;
      align-self: flex-start;
    }
  }

  // ============================== строка с адресом и почтой =================================
  &__footer {
    position: fixed;
    bottom: 50px;
    width: 100%;

    // @media screen and (max-width: 640px) {     
    //   display: none;
    // }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 1300px) {
      justify-content: flex-start;
    }

    @media screen and (max-width: 640px) {     
      display: none;
    }
  }

  &__pointer {
    margin-right: 19px;

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  &__address {
    margin-right: 54px;

    @media screen and (max-width: 730px) {
      font-size: 14px;
    }
  }

  &__envelope {
    margin-right: 18px;

    @media screen and (max-width: 1300px) {
      display: none;
    }
  }

  &__email {
    margin-right: 334px;
  }

  &__mobile-footer {
    display: none;

    @media screen and (max-width: 640px) {
      display: block;
      margin-top: 24px;      
    }

    & p {
      margin: 0 10% 24px;
    }
  }
}
