extends ../../layout/main.pug

block db
	- var navActive = 'contacts';

block head
	+head(
		'Digital Cloud - Контакты', 
		'Свяжитесь с нами любым удобным для Вас способом. Можете просто оставить номер своего телефона, и мы непременно Вам перезвоним',
		'CloudFactory, Москва, ул. Краснобогатырская, д.6, Бизнес-Центр «Вилла-Рива», офис 233 '
	)


block header
	+header(false, 'digital cloud_')

block content
	main.screen.screen--active
		.container
			.contacts
				.title.contacts__title Давайте обсудим Ваш проект

				.contacts__wrap
					form.discussion__form(method="post" id="ajax_form" action="").contacts__form
						img.discussion__phone(src='/../assets/img/tube.png' alt='phone icon')
						input.discussion__input(type='text' name='phonenumber' placeholder='Введите номер телефона')
						.discussion__line 
						.discussion__error
						.discussion__notice Нажимая на «Отправить заявку», вы даёте согласие на обработку персональных данных					
						input.discussion__submit(type="submit" value="Отправить заявку")

					.contacts__map#map

				.contacts__footer
					.contacts__info
						.contacts__pointer
							img(src='/../assets/img/pointer.png' alt='pointer')
						.contacts__address Москва, ул. Краснобогатырская, д.6, Бизнес-Центр «Вилла-Рива», офис 233
						.contacts__envelope
							img(src='/../assets/img/email.png' alt='email')
						.contacts__email info@digitalcloud.com

				.contacts__mobile-footer
					p Москва, ул. Краснобогатырская, д.6, Бизнес-Центр «Вилла-Рива», офис 233		
					p +7 (999) 745-55-55							
					p info@digitalcloud.com

block footer
	+footer('', false, true)








