.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 1500px) {
    flex-direction: column;
  }

  &__title {
    width: 100%;
    margin: 245px 0 75px;

    @media screen and (max-width: 700px) {
      margin: 145px 0 50px;
      font-size: 26px;
    }

    @media screen and (max-width: 480px) {
      margin: 100px 0 30px;
      font-size: 26px;
    }
  }

  &__intro:hover {
    color: $White;
    fill: $White;
    background: $Blue;
    transition: all 0.3s ease;
  }

  &__intro {
    width: 560px;
    height: 500px;
    position: relative;
    padding: 0 50px;
    color: $Blue;
    fill: $Blue;
    background: $BG;

    @media screen and (max-width: 700px) {
      width: 400px;
      height: 400px;
      padding: 0 40px;
    }

    @media screen and (max-width: 500px) {
      display: none;
    }

    &-number {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 20px;
      font-weight: 600;

      @media screen and (max-width: 480px) {
        display: none;
      }
    }

    &-text {
      margin-top: 195px;
      font-size: 20px;
      line-height: 170%;
      color: $BG;

      @media screen and (max-width: 700px) {
        margin-top: 100px;
        font-size: 16px;
      }

      @media screen and (max-width: 480px) {
        margin-top: 40px;
      }
    }

    &-icon {
      position: absolute;
      bottom: 65px;
      left: 30px;
    }

    &-caption {
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__hidden {
    display: none;

    @media screen and (max-width: 500px) {
      display: block;
    }
  }

  &__info {
    max-width: 800px;
    margin: 0 80px 240px 0;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      width: 350px;
      margin-bottom: 30px;
    }

    @media screen and (max-width: 400px) {
      width: 280px;
    }

    &-title {
      margin-bottom: 75px;

      @media screen and (max-width: 650px), screen and (max-height: 500px) {
        margin-bottom: 25px;
        font-size: 24px;
      }
    }

    &-text {
      margin: 16px 0;

      @media screen and (max-width: 650px), screen and (max-height: 500px) {
        font-size: 16px;
      }
    }
  }

  &--mt-240 {
    margin-top: 240px;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      margin-top: 40px;
    }
  }

  &--mb-140 {
    margin-bottom: 140px;
  }
}
