.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__title {
    width: 100%;
    margin: 245px 0 75px 0;
    font-size: 32px;
    font-weight: 700;
  }

  &__title:hover {
    color: red;
    // fill: $White;
    // background: $Blue;
    // transition: all 0.3s ease;
  }

  &__intro:hover {
    color: $White;
    fill: $White;
    background: $Blue;
    // transition: all 0.3s ease;
  }

  &__intro {
    width: 560px;
    height: 500px;
    position: relative;
    padding: 0 50px;
    color: $Blue;
    fill: $Blue;
    background: $BG;

    @media screen and (max-width: 1300px) {
      width: 500px;
    }

    @media screen and (max-width: 1100px) {
      width: 450px;
    }

  

    &-number {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 20px;
      font-weight: 600;
    }

    &-text {
      margin-top: 195px;
      font-size: 20px;
      line-height: 170%;
      color: $BG;

      @media screen and (max-width: 1300px) {
        margin-top: 145px;
      }

      @media screen and (max-width: 1300px) {
        margin-top: 130px;
      }
    }

    &-icon {
      position: absolute;
      bottom: 65px;
      left: 30px;
    }

    &-caption {
      position: absolute;
      bottom: 30px;
      left: 30px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__info {
    width: 800px;  
    position: relative;
    margin-bottom: 240px;      
    background: $BG;    
    
    &-title {      
      margin-bottom: 75px; 
      font-size: 32px;
      font-weight: 700;      
    }  

    &-text {
      margin: 16px 0;
      font-size: 20px;
      line-height: 170%;      
    }
  }  

  &--mt-240 {
    margin-top: 240px;
  }
}

// @media screen and (max-width: 1400px) {}
