.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media screen and (max-width: 1400px) {
    flex-direction: column;
  }

  @media screen and (max-width: 640px) {
    overflow: hidden;
  }

  &__title {
    width: 100%;
    margin: 245px 0 75px;

    @media screen and (max-width: 1300px) {
      margin: 150px 0 60px;      
    } 

    @media screen and (max-width: 640px) {
      margin: 30px 0 30px 10%;       
    }  
  } 

  &__intro {
    position: relative;
    width: 560px;
    height: 500px;
    padding: 0 50px;
    color: $Blue;
    fill: $Blue;
    background-color: $BG; 

    &:hover {
      color: $White;
      fill: $White;
      background-color: $Blue;
      transition: all 0.3s ease;
    }

    @media screen and (max-width: 640px) {
      display: none;
    } 
  }

  &__number {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    font-weight: 600;
  }

  &__banner {
    margin-top: 195px;
    font-size: 20px;   
    color: $White;  
  } 

  &__icon {
    position: absolute;
    bottom: 65px;
    left: 30px;
  }

  &__caption {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 20px;
    font-weight: 600;
  }

  // =================================== Скрытый "мобильный" блок ====================================

  &__hidden {
    display: none;
    width: 80%;
    margin: auto 10%;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }

  &__item {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;

      @media screen and (max-width: 640px) {
        margin-bottom: 50px;
      }
    }

    &.services--active {
      margin-left: 100px;

      @media screen and (max-width: 640px) {
        margin: 0 0 24px 0;
      }
    }

    @media screen and (max-width: 640px) {
      margin-bottom: 18px;
    }

    @media screen and (max-width: 350px) {
      margin-bottom: 12px;
    }
  }

  &__header {
    position: relative;
    padding-left: 60px;
    cursor: pointer;

    .services--active & {
      margin-bottom: 66px;
      cursor: default;

      &:after {
        display: block;
      }

      @media screen and (max-width: 640px) {
        margin-bottom: 36px;
      }
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      bottom: -32px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $MainDark;

      @media screen and (max-width: 640px) {
        bottom: -18px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__label {
    font-family: $semiBoldFont;
    font-size: 20px;
    color: $Blue;
    cursor: pointer;
  }

  &__description {
    display: none;
    width: 500px;

    .services--active & {
      display: block;
    }

    @media screen and (max-width: 700px) {
      width: 400px;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }

    @media screen and (max-width: 350px) {
      font-size: 14px;
    }
  }

  // ================================== Остальной контент ==========================================

  &__info {
    max-width: 800px;    
    margin: 0 100px 120px 0;

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 0 10% 30px;
    }

    @media screen and (max-width: 400px) {
      width: 280px;
    }   
  }

  &__head {
    margin-bottom: 50px;    

    @media screen and (max-width: 640px) {
      margin-bottom: 30px;    
    }
  } 

  &__text {
    margin-bottom: 16px;  
  }

  &--mt-150 {
    margin-top: 150px;

    @media screen and (max-width: 640px) {
      margin-top: 40px;
    }
  }

  &--mb-100 {
    margin-bottom: 100px;
  }
}
