-
	var showingList = [	
		{ id: 'vtb', title: 'ВТБ Мои инвестиции', more: true,	text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' },
		{ id: 'bks', title: 'БКС Мой Брокер', more: true, dash: '#43495B', text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов БКС и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' },
		{ id: 'psb', title: 'ПСБ Инвестиции',	more: true, text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов ПСБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' },		
		{	id: 'rsh', title: 'РСХБ Брокер', more: true, text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Россельхозбанка и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' },
		{ id: 'alp', title: 'АльфаСтрахование',	more: true, text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Альфастрахования и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' }
	]	

.screen(data-pager="4")
	.showing__wrap.showing__vtb-bg
		.container
			.showing
				.showing__content
					each item in showingList				
						.showing__item(id= item.id, class= (item === showingList[0]? 'showing--active' : ''))
							.showing__title= item.title
							.showing__text= item.text
							if item.more
								.showing__detail
									.showing__dash(style=`background-color: ${item.dash}`)
									.showing__label 
										a(href=`/projects/${item.id}`) Подробнее о проекте
				.showing__image.showing__vtb-img
