.discussion.screen(data-pager="5")
	.container
		.discussion__title.title Давайте обсудим Ваш проект
		.discussion__wrap
			form.discussion__form
				img.discussion__phone(src='/../assets/img/tube.png' alt='phone icon')
				input.discussion__input(type='text' name='phonenumber' placeholder='Введите номер телефона')
				.discussion__line 
				.discussion__error
				.discussion__notice Нажимая на «Отправить заявку», вы даёте согласие на обработку персональных данных					
				input.discussion__submit(type="submit" value="Отправить заявку")

			.discussion__info
				.discussion__pointer
					img(src='/../assets/img/pointer.png' alt='')
				.discussion__address Москва, ул. Краснобогатырская, д.6, Бизнес-Центр «Вилла-Рива», офис 233
				.discussion__envelope
					img(src='/../assets/img/email.png' alt='')
				.discussion__email info@digitalcloud.com	    
