-
  var aboutList = [
    { title: 'Экспертиза', text: 'Разработали мобильные приложения и web-сервисы для лидеров российского финансового сектора' },
    { title: 'Гибкость', text: 'Наши программные решения позволяют создавать гибкие модульные системы, которые легко поддерживать' },
    { title: 'Аналитика', text: 'Определяем поведенческие характеристики пользователей при помощи собственных аналитических модулей' },
  ]

.about.screen(data-pager="2")
  .container
    .screen__title Работаем с 2007 года
    .screen__text
      | Делаем мобильные приложения, проектируем личные кабинеты, трейдинговые сервисы и информационные системы.
      | Используем современные инструменты разработки и проектирования пользовательского интерфейса
    .about__list
      each item in aboutList
        .about__item
          .about__item-title= item.title
          .about__item-text= item.text



