-
	var clientList = [
		{ name: 'ВТБ', logo: '/../assets/img/_icon-vtb.png'},
		{ name: 'УралСиб', logo: '/../assets/img/_icon-ural.png'},
		{ name: 'ПромСвязьБанк', logo: '/../assets/img/_icon-psb.png'},
		{ name: 'Альфа страхование', logo: '/../assets/img/_icon-alp.png'},
		{ name: 'АКБарс', logo: '/../assets/img/_icon-akb.png'},
		//- { name: 'Россельхозбанк', logo: '/../assets/img/rshb.png'},				
	]

.clients.screen(data-pager="2").pusk
	.container
		.title Наши клиенты
		.text.clients__text Мы помогаем крупному и среднему бизнесу разрабатывать новые digital–продукты
		.clients__list
			each item in clientList
				.clients__item
					img(src= item.logo alt= item.name)


// для движения блока добавить к .clients__list идентификатор #move
