-
	var introList = [
		{ header: 'Экспертиза', content: 'Разработали мобильные приложения и web-сервисы для лидеров российского финансового сектора' },
		{ header: 'Гибкость', content: 'Наши программные решения позволяют создавать гибкие модульные системы, которые легко поддерживать' },
		{ header: 'Аналитика',  content: 'Определяем поведенческие характеристики пользователей при помощи собственных аналитических модулей' },
	]

.intro.screen(data-pager="2")
	.container
		.intro__title.title Работаем с 2007 года
		.intro__text
			| Делаем мобильные приложения, проектируем личные кабинеты, трейдинговые сервисы и информационные системы.
			| Используем современные инструменты разработки и проектирования пользовательского интерфейса
		.intro__list(style='left: 400px')
			each item in introList
				.intro__item
					.intro__header= item.header
					.intro__dash
					=item.content



