-
	var list = [	
		{ 
			id: 'vtb', 
			title: 'ВТБ Мои инвестиции', 	
			more: true,
			text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' 
		},
		{ 
			id: 'bks', 
			title: 'БКС Мой Брокер', 		
			more: true, 
			dash: '#43495B',
			text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы БКС и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' 
		},
		{ 
			id: 'psb', 
			title: 'ПСБ Инвестиции',	
			more: true,
			text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' 
		},		
		{ 
			id: 'rsh', 
			title: 'РСХБ Брокер',
			more: true,
			text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' 
		},
		{ 
			id: 'alp', 
			title: 'АльфаСтрахование',
			more: true,
			text: 'Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями' 
		}
	]	

.screen(data-pager="4")
	.performance__wrap.performance__vtb-bg
		.container
			.performance
				.performance__content
					each item in list				
						.performance__item(id= item.id, class= (item === list[0]? 'performance--active' : ''))
							.performance__title= item.title
							.performance__text= item.text
							if item.more
								.performance__detail
									.performance__dash(style=`background-color: ${item.dash}`)
									.performance__label 
										a(href=`/projects/${item.id}`) Подробнее о проекте
				.performance__image.performance__vtb-img
