.create {
  display: flex;

  @media screen and (max-width: 650px), screen and (max-height: 500px) {
    flex-direction: column;
  }

  &__title {
    display: flex;
    width: 380px;
    margin: 100px 0 32px 0;

    @media screen and (max-width: 1300px), screen and (max-height: 770px) {
      margin: 20px 0 20px 0;
    }

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      max-width: 360px;
      margin: 80px 0 20px 0;
    }

    @media screen and (max-width: 450px) {
      font-size: 26px;
    }
  }

  &__text {
    width: 850px;

    @media screen and (max-width: 1000px), screen and (max-height: 600px) {
      max-width: 700px;
    }

    @media screen and (max-width: 800px) {
      width: 400px;
      font-size: 18px;
    }

    @media screen and (max-width: 450px) {
      width: 300px;
    }
  }

  // ==================== три кубика внизу ====================

  &__list {
    display: flex;
    margin: 80px 0 0 100px;

    @media screen and (max-width: 1300px), screen and (max-height: 770px) {
      margin: 20px 0 0 100px;
    }

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      flex-direction: column;
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 386px;
    height: 314px;
    margin: 0 30px;
    padding: 60px;
    background: $White;

    @media screen and (max-width: 1300px), screen and (max-height: 770px) {
      height: 290px;
    }

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      width: 360px;
      margin: 12px 10px 12px 0;
    }

    @media screen and (max-width: 420px) {
      width: 300px;
      height: 240px;
      padding: 25px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__header {
    position: relative;
    padding-bottom: 64px;
    font-family: $semiBoldFont;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;

    &:after {
      content: '';
      position: absolute;
      bottom: 34px;
      left: 0;
      width: 40px;
      height: 2px;
      background: $MainDark;
    }
  }

  &__content {
    font-size: 16px;
    line-height: 170%;
  }
}
