.clients {
  &__text {
    width: 520px;
    margin: 30px 0 160px 0;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      width: 400px;
      margin: 20px 0;
    }

    @media screen and (max-width: 500px) {
      width: 340px;
      font-size: 18px;
      margin-right: 32px;
    } 

    @media screen and (max-width: 360px) {
      max-width: 300px;
      margin: 10px 0;
    }
  }

  &__list {
    display: flex;
    align-items: baseline;
    width: 1500px;
    height: 60px;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      max-width: 470px;
      height: 100%;
      flex-wrap: wrap;
      justify-content: flex-start;
    } 

    @media screen and (max-width: 500px) {
      max-width: 350px;
    }
  }

  &__item {
    margin: 0 34px;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      margin: 5px 15px;
    }

    @media screen and (max-width: 500px) {
      margin: 10px 50px 10px 0;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
