.clients {
  &__title {
    margin-bottom: 32px;

    @media screen and (max-width: 640px) {
      margin: 84px 10% 45px;
    }
  }

  &__text {
    width: 512px;
    margin-bottom: 120px;
    font-size: 20px;

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 0 10% 56px;
    }
  }

  // ============================== логотипы ============================

  &__list {
    display: flex;
    align-items: baseline;
    min-width: 1920px;
    margin-left: 100px;

    @media screen and (max-width: 640px) {
      flex-wrap: wrap;
      width: 80%;
      min-width: 280px;
      margin: 0 10%;
    }
  }

  &__item {
    margin-right: 68px;

    &:last-child {
      margin: 0;
    }

    @media screen and (max-width: 640px) {
      margin: 0 50px 40px 0;      

      & img {
        width: 80%;        
      }
    }
  }
}
