.awards {
  &__title {
    margin-bottom: 60px;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      margin: 60px 0 20px 0;
    }

    @media screen and (max-width: 350px) {
      margin-left: 20px;
    }
  }

  &__list {
    width: 1336px;
    height: 183px;
    margin-left: 100px;
    background-image: url(../img/_awards.png);
    background-repeat: no-repeat;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      display: none;
    }
  }

  &__vertical {
    display: none;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      display: block;
    }
  }

  &__item-1 {
    width: 360px;
    height: 244px;
    background-image: url(../img/_award-1.png);
  }

  &__item-2 {
    @extend .awards__item-1;
    background-image: url(../img/_award-2.png);
  }

  &__item-3 {
    @extend .awards__item-1;
    background-image: url(../img/_award-3.png);
  }

  &__item-4 {
    @extend .awards__item-1;
    background-image: url(../img/_award-4.png);
  }
}
