.competence {
  @media screen and (max-width: 640px) {
    width: 100vw;
    height: 100vh;
  }

  &__title {
    margin-bottom: 62px;
    font-family: $semiBoldFont;

    @media screen and (max-width: 1366px), screen and (max-height: 768px) {
      margin-bottom: 32px;
    }

    @media screen and (max-width: 640px) {            
      font-size: 24px;
    }
  }

  &__wrapper {
    @media screen and (max-width: 640px) {
      width: 80%;
      margin: auto 10%;
    }
  }

  &__item {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;

      @media screen and (max-width: 640px) {
        margin-bottom: 50px;
      }
    }

    &.competence--active {
      margin-left: 100px;

      @media screen and (max-width: 640px) {
        margin: 0 0 24px 0;
      }
    }

    @media screen and (max-width: 1366px), screen and (max-height: 768px) {
      margin-bottom: 18px;
    }
  }

  &__header {
    position: relative;
    padding-left: 60px;
    cursor: pointer;

    .competence--active & {
      margin-bottom: 66px;
      cursor: default;

      &:after {
        display: block;
      }

      @media screen and (max-width: 1366px), screen and (max-height: 768px) {
        margin-bottom: 36px;
      }
    }

    &:after {
      content: '';
      display: none;
      position: absolute;
      bottom: -32px;
      left: 0;
      width: 40px;
      height: 2px;
      background-color: $MainDark;

      @media screen and (max-width: 1366px), screen and (max-height: 768px) {
        bottom: -18px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__label {
    font-family: $semiBoldFont;
    font-size: 20px;
    color: $Blue;
    cursor: pointer;
  }

  &__text {
    display: none;
    width: 500px;

    .competence--active & {
      display: block;
    }

    @media screen and (max-width: 700px) {
      width: 400px;
    }

    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
