.request {
  display: flex;
  flex-wrap: wrap;
  height: 480px;

  &__title {
    width: 100%;
    margin: 60px 0 80px;

    @media screen and (max-width: 1000px), screen and (max-height: 650px) {
      margin: 60px 0 30px;     
      font-size: 24px;
    }
     
    @media screen and (max-width: 420px) {      
      font-size: 20px;     
    }    
  }

  &__send {
    width: 430px;
    height: 360px;
    position: relative;
    margin: 0 200px 0 100px;
    background-color: $White;

    @media screen and (max-width: 1450px) {
      margin: 0 35px 0 90px;
    }

    @media screen and (max-width: 1300px) {
      margin: 0 0 0 40px;
    }

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      margin-bottom: 20px;
      margin-left: 0;
    }

    @media screen and (max-width: 470px) {
      width: 330px;
      background-color: $BG;    
    }

    &-tube {
      position: absolute;
      top: 75px;
      left: 75px;

      @media screen and (max-width: 470px) {
        left: 25px;
      }
    }

    &-input {
      position: absolute;
      top: 75px;
      left: 120px;
      font-size: 18px;
      font-weight: 500;

      @media screen and (max-width: 470px) {
        left: 70px;
        font-size: 14px;
      }
    }

    &-line {
      width: 288px;
      height: 1px;
      position: absolute;
      top: 120px;
      left: 60px;
      background-color: $Gray;

      @media screen and (max-width: 470px) {
        left: 10px;
      }
    }

    &-text {
      width: 288px;
      height: 40px;
      position: absolute;
      top: 150px;
      left: 60px;
      font-size: 12px;
      color: $Gray;

      @media screen and (max-width: 470px) {
        left: 10px;
      }
    }

    &-button {
      width: 290px;
      height: 65px;
      position: absolute;
      top: 240px;
      left: 67px;
      border-radius: 5px;
      color: $White;
      background-color: $Blue;

      @media screen and (max-width: 470px) {
        left: 22px;       
      }
      
      @media screen and (max-width: 350px) {     
        width: 250px;
      }
    }
  }

  &__info {
    width: 400px;
    height: 150px;
    position: relative;
    margin-top: 50px;

    @media screen and (max-width: 950px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      display: none;
    }

    &-pointer {
      position: absolute;
      top: 25px;
      left: 10px;
    }

    &-address {
      position: absolute;
      top: 25px;
      left: 50px;
    }

    &-envelope {
      position: absolute;
      top: 100px;
      left: 10px;
    }

    &-email {
      position: absolute;
      top: 100px;
      left: 50px;
    }
  }
}
