-
	var competenceList = [	
		{ title: 'Prototype', path: '/../assets/img/prototype.png', name: 'prototype'},
		{ title: 'Designе', path: '/../assets/img/design.png', name: 'design'},
		{ title: 'Back-end', path: '/../assets/img/backend.png', name: 'backend'},
		{ title: 'Front-end', path: '/../assets/img/frontend.png', name: 'frontend'},
		{ title: 'MiddleWare', path: '/../assets/img/middleware.png', name: 'middleware'},
	]

.screen.container
	.competence(data-pager="4")
		.competence__title Наши компетенции					
		.competence--margin-left
			.competence__block
				.competence__block-img
					img(src= '/../assets/img/native.png' alt= 'native')
				.competence__block-text Native App
			.competence__line
			.competence__text Нативные приложения оптимизированы под конкретные операционные системы, такие как IOS/Android	
		each item in competenceList
			.competence__block
				.competence__block-img
					img(src= item.path alt= item.name)
				.competence__block-text= item.title





