.intro {
  background-image: url(../img/background.png);

  &__title {
    position: relative;
    margin-bottom: 16px;
    padding-left: 52px;
    font-family: $mediumFont;
    font-size: 24px;    
    line-height: 170%;    

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      padding-left: 27px;
    }

    &:before {
      content: '';
      width: 40px;
      height: 2px;
      position: absolute;
      top: 55%;
      left: 0;
      background: $MainDark;

      @media screen and (max-width: 650px), screen and (max-height: 500px) {
        width: 17px;
        height: 1px;        
      }
    }
  }

  &__text {
    max-width: 750px;
    font-family: $extraBoldFont;
    font-size: 60px;    
    line-height: 130%;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      font-size: 36px;
      margin-right: 32px;
    }
  }
}
