.intro {
  &__title {
    margin-bottom: 40px;

    @media screen and (max-width: 640px) {
      width: 80%;
      margin: 84px 10% 44px;
    }
  }

  &__text {
    width: 850px;
    margin-bottom: 80px;
    font-size: 20px;

    @media screen and (max-width: 1000px) {
      width: 80%;
    }

    @media screen and (max-width: 640px) {
      margin: 0 10% 44px;
    }
  }

  // ==================== кубики внизу ====================

  &__list {
    display: flex;
    margin-left: 100px;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      margin-left: 10%;
    }

    @media screen and (max-width: 480px) {
      margin: 0;
    }
  }

  &__item {
    width: 386px;
    height: 314px;
    padding: 60px;
    margin-right: 60px;
    background-color: $White;

    &:last-child {
      margin: 0;
    }

    @media screen and (max-width: 640px) {
      margin-bottom: 24px;
    }

    @media screen and (max-width: 350px) {
      padding: 40px 70px 40px 30px;
    }
  }

  &__header {
    margin-bottom: 32px;
    font-family: $semiBoldFont;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;

    @media screen and (max-width: 320px) {
      font-size: 18px;
      padding-bottom: 14px;
    }
  }

  &__dash {
    width: 40px;
    height: 2px;
    margin-bottom: 32px;
    background-color: $MainDark;
  }
}
