-
  var clientList = [
    { name: 'АКБарс', logo: '/../assets/img/akbars.png'},
    { name: 'Альфа страхование', logo: '/../assets/img/alfastrah.png'},
    { name: 'ПромСвязьБанк', logo: '/../assets/img/psb.png'},
    { name: 'ВТБ', logo: '/../assets/img/vtb.png'},
    { name: 'УралСиб', logo: '/../assets/img/uralsib.png'},
  ]

.client.screen(data-pager="4")
  .container
    .screen__title Наши клиенты
    .screen__text Мы помогаем крупному и среднему бизнесу разрабатывать новые digital–продукты
    marquee.client__list(behavior="slide" scrollamount="20" loop="2")
      each item in clientList
        img.client__item(src= item.logo alt= item.name)


