.showing {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 640px) {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  }

  & a {
    color: $White;
  }

  // ========================= контент слева =========================

  &__content {
    @media screen and (max-width: 640px) {
      max-width: 80;
      margin: auto 10%;
    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 1366px), screen and (max-height: 768px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 100%;
    cursor: pointer;

    @media screen and (max-width: 350px) {
      font-size: 18px;
    }

    .showing--active & {
      margin-bottom: 40px;
      font-family: $boldFont;
      font-size: 32px;
      cursor: default;

      @media screen and (max-width: 1366px), screen and (max-height: 768px) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 480px) {
        font-size: 28px;
      }

      @media screen and (max-width: 350px) {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }
  }

  &__text {
    display: none;
    max-width: 430px;
    margin: 0 0 24px 100px;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }

    .showing--active & {
      display: block;

      @media screen and (max-width: 1366px), screen and (max-height: 768px) {
        margin-bottom: 20px;
      }

      @media screen and (max-width: 350px) {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }

  &__detail {
    display: none;
    position: relative;
    max-width: 210px;
    height: 16px;
    margin: 0 0 60px 100px;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
    }

    .showing--active & {
      display: block;
    }

    @media screen and (max-width: 1366px), screen and (max-height: 768px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 640px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 350px) {
      margin-bottom: 20px;
    }
  }

  &__dash {
    position: absolute;
    top: 10px;
    left: 0;
    width: 16px;
    height: 2px;
    background-color: $White;
  }

  &__label {
    position: absolute;
    right: 0;
    font-weight: 600;
    line-height: 20px;
    color: $White;
  }

  // ========================= цвет бэкграунда и шрифта ========================

  &__wrap {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }

  &__vtb-bg {
    color: $White;
    background-color: $BlueDark;
  }

  &__bks-bg {
    color: $MainDark;
    background-color: $BG;

    & a {
      color: $MainDark;
    }
  }

  &__psb-bg {
    color: $White;
    background-color: $BlueBG;
  }

  &__rsh-bg {
    color: $White;
    background-color: $GreenBG;
  }

  &__alp-bg {
    color: $White;
    background-color: $RedDecor;
  }

  // ============================== картинки справа ==================================

  &__image {
    width: 29vw;
    height: 72vh;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: contain;
    margin-top: 30px;

    @media screen and (max-width: 1000px) {
      width: 40%;
    }

    @media screen and (max-width: 640px) {    
      display: none;
    }
  }

  &__vtb-img {
    background-image: url(../img/phone-vtb.png), url(../img/circle-vtb.png);
  }

  &__vtb-img-2 {
    background-image: url(../img/phone-vtb.png), url(../img/circle-vtb-2.png);
  }

  &__bks-img {
    background-image: url(../img/phone-bks.png), url(../img/circle-bks.png);
  }

  &__bks-img-2 {
    background-image: url(../img/phone-bks.png), url(../img/circle-bks-2.png);
  }

  &__psb-img {
    background-image: url(../img/phone-psb.png), url(../img/circle-psb.png);
  }

  &__psb-img-2 {
    background-image: url(../img/phone-psb.png), url(../img/circle-psb-2.png);
  }

  &__rsh-img {
    background-image: url(../img/phone-rsh.png), url(../img/circle-rsh.png);
  }

  &__alp-img {
    background-image: url(../img/phone-alp.png), url(../img/circle-alp.png);
  }

  &__alp-img-2 {
    background-image: url(../img/phone-alp.png), url(../img/circle-alp-2.png);
  }
}
