.competence {
  &__title {
    margin: 130px 0 60px 0;
    font-family: $semiBoldFont;

    @media screen and (max-width: 1300px), screen and (max-height: 770px) {
      margin-bottom: 18px;
    }  

    @media screen and (max-width: 500px) {
      font-size: 24px;
    } 
  }

  &__wrap {
    width: 1000px;
    height: 550px;    
  }

  &__item {
    margin-bottom: 36px;

    @media screen and (max-width: 1300px), screen and (max-height: 770px) {
      margin-bottom: 24px;
    }    
        
    &:last-child {
      margin-bottom: 0;
    }

    &.competence--active {
      margin-left: 100px;

      @media screen and (max-width: 650px), screen and (max-height: 500px) {
        margin-left: 0;
      }
      
    }
  }

  &__header {
    display: flex;
    position: relative;
    padding-left: 60px;
    cursor: pointer;   

    .competence--active & {      
      margin-bottom: 66px;
      cursor: default;  

      &:after {
        display: block;
      }
    }

    &:after {
      width: 40px;
      height: 2px;
      display: none;
      position: absolute;
      bottom: -32px;
      left: 0;
      content: '';
      background-color: $MainDark;      
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;   
  }

  &__label {
    font-family: $semiBoldFont;
    font-size: 20px;    
    color: $Blue;
  }

  &__text {
    display: none;         
    width: 500px;
    line-height: 170%;  
    
    @media screen and (max-width: 1000px) {
      width: 400px;
    } 

    @media screen and (max-width: 500px) {
      width: 300px;
      height: 100%;     
    } 

    .competence--active & {            
      display: block;     
    }
  }
}
