.request {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 600px;
  margin: 0 100px 0 0;

  @media screen and (max-width: 1400px) {
    margin: 0;
  }

  @media screen and (max-width: 1100px) {
    width: 1000px;
    margin-left: 80px;
  }

  @media screen and (max-width: 800px) {
    width: 460px;
    margin: 0 0 100px 0;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin: 0 130px 10px 0;

    @media screen and (max-width: 1100px) {
      margin: 10px 20px;
      font-size: 26px;
    }
  }

  &__send {
    width: 430px;
    height: 360px;
    margin: 0 200px 0 90px;
    position: relative;
    background-color: $White;

    @media screen and (max-width: 1800px) {
      margin: 0 50px 0 90px;
    }

    @media screen and (max-width: 800px) {
      width: 380px;
      height: 310px;
      margin: 0 30px;
    }

    &-tube {
      position: absolute;
      left: 75px;
      top: 75px;

      @media screen and (max-width: 800px) {
        left: 50px;
        top: 50px;
      }
    }

    &-input {
      position: absolute;
      left: 120px;
      top: 75px;
      font-size: 18px;
      font-weight: 500;

      @media screen and (max-width: 800px) {
        left: 95px;
        top: 50px;
      }
    }

    &-line {
      position: absolute;
      width: 288px;
      height: 1px;
      left: 60px;
      top: 120px;
      background-color: $Gray;

      @media screen and (max-width: 800px) {
        left: 40px;
        top: 95px;
      }
    }

    &-text {
      position: absolute;
      width: 288px;
      height: 40px;
      left: 60px;
      top: 150px;
      font-size: 12px;
      color: $Gray;

      @media screen and (max-width: 800px) {
        left: 35px;
        top: 125px;
      }
    }

    &-button {
      position: absolute;
      width: 290px;
      height: 65px;
      left: 67px;
      top: 240px;
      border-radius: 5px;
      color: $White;
      background-color: $Blue;

      @media screen and (max-width: 800px) {
        left: 42px;
        top: 215px;
      }
    }
  }

  &__info {
    width: 400px;
    height: 150px;
    position: relative;
    margin: 50px 0 0 0;

    &-pointer {
      position: absolute;
      left: 10px;
      top: 25px;
    }

    &-address {
      position: absolute;
      left: 50px;
      top: 25px;
    }

    &-envelope {
      position: absolute;
      left: 10px;
      top: 100px;
    }

    &-email {
      position: absolute;
      left: 50px;
      top: 100px;
    }
  }
}
