mixin header()
	.header
		.header__logo= zz
		.header__wrap
			.container
				.header__menu
					each nav in navList
						if nav.title
							a.header__nav(href= nav.href)= nav.title
			.header__phone +7 (999) 745-55-55
		.header__burger
			.header__burger-line-1
			.header__burger-line-2
			.header__burger-line-3
