mixin header(opts)
	.header
		a.header__logo(href='/') digital cloud_
		.header__wrap
			.container
				.header__menu
					each nav in navHeader
						a.header__nav(href= nav.href class=(nav.name === navActive ? 'active' : ''))= nav.title
			.header__phone +7 (999) 745-55-55

		.header__burger
			.header__burger-line-1
			.header__burger-line-2
			.header__burger-line-3
