.portfolio--ground-fix
.portfolio--ground-move
	.portfolio.container
		.portfolio__intro.portfolio--color-white
			.portfolio__intro-title  ВТБ Мои инвестиции
			.portfolio__intro-text-1 Приложение предоставляет доступ к широкому перечню инвестиционных инструментов Группы ВТБ и ориентировано на клиентов, самостоятельно управляющих  своими инвестициями
			.portfolio__intro-text-2 «Лучшее инвестиционное приложение» от РАЭК, конкурс «Золотое приложение 2018»

		.portfolio__phone
			img(src= '/../assets/img/phone-portfolio-1.png' alt= 'portfolio')

		.portfolio__intro
			.portfolio__intro-title  Процесс работы
			.portfolio__intro-text-1 С момента начала сотрудничества выпущено несколько релизов приложения, внедрены самые современные сервисы, включая персонального советника.
			.portfolio__intro-text-2 Мобильное приложение работает  на платформе EffectiveTrade Mobile.

		.portfolio__phone.portfolio--margin-1
			img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

		.portfolio__phone.portfolio--margin-2
			img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

		.portfolio__intro.portfolio--margin-3
			.portfolio__intro-title  Процесс работы
			.portfolio__intro-text-1 С момента начала сотрудничества выпущено несколько релизов приложения, внедрены самые современные сервисы, включая персонального советника.

		.portfolio__phone.portfolio--margin-4
			img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

		.portfolio__phone.portfolio--margin-5
			img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')

		.portfolio__intro.portfolio--margin-6
			.portfolio__intro-text-2 Мобильное приложение работает  на платформе EffectiveTrade Mobile.

		.portfolio__phone.portfolio--margin-7
			img(src= '/../assets/img/phone-portfolio.png' alt= 'portfolio')






