.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & a {
    color: $Blue !important;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 850px;
    margin-bottom: 150px;

    @media screen and (max-width: 1000px) {
      max-width: 600px;
    }
  }

  &__title {
    width: 100%;
    margin: 200px 0 50px;
    
    @media screen and (max-width: 1300px) {
      margin-top: 150px;
    }

    @media screen and (max-width: 640px) {
      margin: 50px 10% 50px;
    }
  }

  // ============================  item  ===================================

  &__item {
    max-width: 380px;
    height: 314px;
    padding: 60px 60px 40px;
    background-color: $White;
    

    &:nth-child(even) {
      margin-top: 100px;

      @media screen and (max-width: 1100px) {
        margin-top: 0;
      }
    }

    @media screen and (max-width: 1100px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 640px) {
      margin-left: 10%;
    }

    @media screen and (max-width: 480px) {
      width: 100%;      
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  &__date {
    margin-bottom: 32px;
    font-family: $semiBoldFont;
    font-size: 20px;
  }

  &__line {
    width: 40px;
    height: 2px;
    margin-bottom: 32px;
    background: $MainDark;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
  }

  &__read {
    color: $Blue;
  }

  &__arrow {
    margin-left: 11px;
  }
}
