extends ../../layout/main.pug

block db
	- var navActive = 'blog';

block head
	+head(
		'Digital Cloud - Блог',
		'Свежие новости от банковского и брокерского секторов Российской экономики',
		'CloudFactory, ВТБ, ПСБ, Алфа-Страхование, Россельхозбанк, БКС '
	)

block header
	+header(false, 'digital cloud_')

block content
	main
		-
			var blogList = [
				{ date: '15.09.2019 г.', link: 'post-vtb-lider-2019.html', content: 'Банк ВТБ стал безусловным лидером российского рынка' },
				{ date: '16.09.2019 г.', link: 'post-psb-lider-2020.html', content: 'Банк ПСБ стал безусловным лидером российского рынка' },
				{ date: '17.09.2019 г.', link: 'post-vtb-lider-2019.html', content: 'Банк ВТБ стал безусловным лидером российского рынка' },
				{ date: '18.09.2019 г.', link: 'post-vtb-lider-2019.html', content: 'Банк ВТБ стал безусловным лидером российского рынка' },
				{ date: '19.09.2019 г.', link: 'post-vtb-lider-2019.html', content: 'Банк ВТБ стал безусловным лидером российского рынка' },
				{ date: '20.09.2019 г.', link: 'post-vtb-lider-2019.html', content: 'Банк ВТБ стал безусловным лидером российского рынка' },
			]

		.plate
		.blog.container
			.title.blog__title Журнал событий
			.blog__container
				each item in blogList				
					.blog__item
						.blog__date= item.date
						.blog__line
						.blog__text= item.content
						.blog__wrap
							a.blog__read(href=`/blog/${item.link}`) Читать далее
							a.blog__arrow(href=`/blog/${item.link}`) 	
								img(src= '/../assets/img/arrow-1.png' alt= 'native')

block footer
	+footer('#F9F9FD', false)