extends ../../layout/main.pug
include ../../../component/header/header

block db
	- var navActive = 'blog';

block header
	+header(false, 'digital cloud_')

block content
	main
		.plate
		.post.container
			.title.post__title 
				| Банк ВТБ стал безусловным лидером российского рынка по объемам привлечения средств в паевые инвестиционные 
				| фонды по итогам 2019 года.
			.text.post__date 15.09.2019 г. 
			.text.post__text 
				| За год инвесторы вложили в ПИФы ВТБ Капитал Управление активами 49,5 млрд рублей, - уточняется в сообщении банка. 
				| Это порядка половины средств, привлеченных всеми игроками рынка. Наилучшую динамику на рынке показали ВТБ – 
				| Фонд Сбалансированный (привлечено за год 18,2 млрд рублей, годовая доходность здесь и далее на 31.12.2019 года
				|  – 23,6%) и ВТБ – Фонд Казначейский (12,3 млрд рублей, годовая доходность – 11,3%).
				| Высокий уровень доверия инвесторов к фондам ВТБ обусловлен в том числе высокими показателями эффективности управления 
				| их активами. Так, по данным Investfunds по итогам 2019 года ВТБ – Фонд Акций оказался самым доходным среди всех фондов 
				| акций на рынке со стоимостью чистых активов более 100 млн рублей. Его годовая доходность составила 38%. ВТБ – Индекс 
				| Мосбиржи занял первое место среди всех индексных фондов со стоимостью чистых активов (СЧА) более 100 млн рублей 
				| (годовая доходность – 37,4%). ВТБ – Фонд Смешанных инвестиций стал вторым по доходности в рэнкинге фондов смешанных 
				| инвестиций с СЧА более 100 млн рублей (годовая доходность - 32,2%, СЧА – 10,9 млрд рублей, привлечение за год – 7,7 
				| млрд рублей).
			.text.post__text 
				| Фонды ВТБ также остаются лидерами по версии Investfunds по минимальным инфраструктурным расходам. Первое место рейтинга 
				| занимает ВТБ – Фонд Американский корпоративный долг. ВТБ – Фонд Казначейский остается номером один на российском рынке 
				| по объему средств под управлением. Его стоимость чистых активов по итогам года составила 40,5 млрд рублей. Всего в 
				| линейке ВТБ представлено 25 фондов, покрывающих различные классы активов, как на локальном, так и на международном рынках.
			.text.post__text 
				| «Мы видим рост интереса населения к инвестиционным продуктам. Паевые инвестиционные фонды являются особенно 
				| востребованными: они дают возможность инвестировать даже минимальные средства в широко диверсифицированный портфель. 
				| Минимальная сумма инвестирования в открытые фонды ВТБ составляет пять тысяч рублей с возможностью дальнейшего ее 
				| пополнения на одну тысячу рублей. В биржевые фонды можно начать вкладывать средства с еще меньшей суммы, совершая 
				| сделки исходя из рыночной стоимости пая. Данные операции можно осуществить в один клик в мобильном приложении ВТБ 
				| Мои Инвестиции. Сделать инвестиции доступными для всех - наша стратегическая задача. Мы верим, что в скором будущем 
				| инвестирование станет нормой для каждого человека при управлении сбережениями», - отметил Владимир Потапов, главный 
				| исполнительный директор ВТБ Капитал Инвестиции, старший вице-президент ВТБ, председатель совета директоров ВТБ Капитал 
				| Управление активами.


block footer
	+footer('#F9F9FD', false)





