.content-2-1 {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 200px;
  margin: 250px 100px 0 400px;

  &__title {
    font-size: 32px;
    font-weight: 700;
  }
  &__text {
    font-size: 20px;
  }
}

.content-2-2 {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  height: 314px;
  background: $White;
  margin: 30px 0 30px 0;

  &__title {
    font-size: 20px;
    font-weight: 600;    
    margin: 60px 200px 0 60px;
  }

  &__line {
    width: 40px;
    height: 2px;
    background: $MainDark;
    margin: 0 0 0 60px;
  }

  &__text {
    margin: 0 60px 0 60px;
  }

  &--margin-left-big {
    margin-left: 500px;
  }

  &--margin-left-mid {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1900px) {
  .content-2-2 {
    &--margin-left-big {
      margin-left: 250px;
    }

    &--margin-left-mid {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .content-2-1 {   
    margin: 250px 100px 0 200px;  
  }

  .content-2-2 {
    width: 300px;
    height: 240px;

    &__title {          
      margin: 30px 150px 0 30px;
    }

    &__line {    
      margin: 0 0 0 30px;
    }

    &__text {
      margin: 0 30px 0 30px;
    }

    &--margin-left-big {
      margin-left: 100px;
    }

    &--margin-left-mid {
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .content-2-1 {
    width: 800px;
    height: 200px;
    margin: 200px 0 0 100px;

    &__title {
      font-size: 24px;
    }
  }

  .content-2-2 {
    width: 300px;
    height: 200px;
    margin: 0 0 0 60px;

    &__title {
      margin-bottom: 0 0 30px 0;
    }
    &__line {
      width: 0;
      height: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .content-2-1 {
    width: 500px;
    height: 180px;
    margin: 150px 0 0 40px;

    &__title {
      font-size: 24px;
    }
    &__text {
      font-size: 16px;
    }
  }

  .content-2-2 {
    width: 500px;
    height: 120px;
    margin: 0 0 0 40px;
  }
}
