.content-1 {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 300px;
  margin: 290px 0 0 400px;

  &__line {
    width: 40px;
    height: 2px;
    background: $MainDark;
    margin: 25px 10px 0 0;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
  }
  &__text {
    font-size: 60px;
    font-weight: 800;
  }
}

@media screen and (max-width: 1200px) {
  .content-1 {
    height: 200px;
    margin: 200px 0 0 200px;

    &__line {
      width: 30px;
    }
    &__title {
      font-size: 22px;
    }
    &__text {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .content-1 {
    width: 500px;
    margin: 180px 0 0 100px;
    &__line {
      width: 25px;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      font-size: 30px;
    }
  }
}
