.footer {
  width: 100%;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 80px 80px;
  z-index: 2;

  @media screen and (max-width: 600px), screen and (max-height: 700px) {
    padding: 0 0 40px;
  }
  @media screen and (max-width: 500px), screen and (max-height: 500px) {
    padding: 0 0 30px;
  }

  &__menu {
    align-self: flex-end;

    @media screen and (max-width: 650px), screen and (max-height: 500px) {
      display: none;
    }

    .screen-6 & {
      display: none;      
    }
  }

  &__hidden {
    display: none;
    
    .screen-6 & {
      display: block;
      color: $MainDark;
      margin-top: 45px;
      text-align: end;
    }
  }

  &__confidence {
    align-self: flex-end;    

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &__nav {
    right: 180px;
    margin: 0 26px;
    color: $MainDark;

    &:last-child {
      margin-right: 0;
    }
  }

  &__pager {
    @media screen and (max-width: 950px) {
      display: none;
    }

    &-hidden {
      visibility: hidden;
    }
  }

  // ====================== привязка стиля к конкретной странице ======================================

  .screen-5 & a {
    color: $White;
  }

  .screen-5 & {
    color: $White;
  }
}
