.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;

  @media screen and (max-width: 1100px) {
    display: none;
  }

  &__menu {
    position: absolute;
    bottom: 50px;
    right: 80px;

    .screen-6 & {
      display: none;
    }
  }

  &__hidden {
    display: none;

    .screen-6 & {
      display: block;      
      position: absolute;
      bottom: 50px;
      right: 80px;
      text-align: end;
      color: $MainDark;        
    }
  }

  &__confidence {
    align-self: flex-end;

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &__nav {    
    margin: 0 26px;
    color: $MainDark;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-opacity {    
    @extend .footer__nav;
    opacity: 0;
    animation: foot 2s ease-out 3s 1;
    animation-fill-mode: forwards;
  }


  &__pager {
    position: absolute;
    bottom: 50px;
    left: 80px;

    &-hidden {
      visibility: hidden;
    }
  }

  &__pager-opacity {    
    @extend .footer__pager;
    opacity: 0;
    animation: foot 2s ease-out 3s 1;
    animation-fill-mode: forwards;
  }

  // ====================== привязка стиля к конкретной странице ======================================

  .screen-5 & a {
    color: $White;
  }

  .screen-5 & {
    color: $White;
  }
}

@keyframes foot {
  from {
    opacity: 0;  
  }
  to {
    opacity: 1;   
  }
}
