include ../../../component/performance/performance.pug

.screen(data-pager="3" style="background-color: #112A94; color: #FFFFFF;")
	+performance(0, 'yes', '#FFFFFF')

// 1 параметр - индекс клиента в общем списке
// 0 - ВТБ	
// 1 - БКС	
// 2 - ПСБ
// 3 - РСХБ	
// 4 - АльфаСтрахование	

// 2 параметр - нужен ли текст "подробнее о проекте" с предваряющей чертой?
// параметр отсутствует или равен '' => нет
// любая строка кроме пустой => да

// 3 параметр - цвет черты (если он отличен от дефолтного)