include ../../../component/performance/performance.pug

.screen(data-pager="3" style="background-color: #238441; color: #FFFFFF;" )
	+performance(3, '#FFCB05', 'performance-rshb')


// style: background-color задаёт цвет бэкграунда, а color - соответственно шрифта
// если color не указан, то цвет дефолтный ($MainDark)
// 1 параметр миксина - индекс клиента в общем списке:
// 0 - ВТБ;  1 - БКС;	 2 - ПСБ;  3 - РСХБ;  4 - АльфаСтрахование	
// 2 параметр - цвет круга на котором находится картинка телефона
// 3 параметр - название картинки телефона
// 4 параметр - нужен ли текст "подробнее о проекте" с предваряющим тире?
// если параметр отсутствует - нет
// если указана любая строка кроме пустой - да
// 5 параметр - цвет тире 
// если параметр отсутствует - тире дефолтного цвета ($MainDark)