include ../../component/header/header
include ../../component/footer/footer

- var zz = 'digital cloud_';
-
	var navList = [
		{ title: '', href: '/#/'},
		{ title: 'Компания', href: '/#/company'},
		{ title: 'Проекты', href: '/#/project'},
		{ title: 'Услуги', href: '/#/service'},
		{ title: 'Контакты', href: '/#/contacts'},
	]

-
	var footerList = [
		{ title: 'Политика конфиденциальности', href: '/policy'},
		{ title: 'Напишите нам', href: '/writeus'},
		{ title: 'Блог', href: '/blog'},
	]


doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Flexbox
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
	body.screen-0
		block header
			+header()
		block content
		block footer
			+footer()
