mixin clientIntro(path, name, colorLine, colorCircle, text, vtb, bks, psb, rshb, alpha)
	- var st = 'font-size: 32px; font-weight: 700;'
	.client-intro
		.client-intro__block-1
			if vtb				
				.client-intro__block-1-nav(style=`${st} margin: 0 0 10px 0;`)  ВТБ Мои инвестиции
			else	
				.client-intro__block-1-nav ВТБ Мои инвестиции		
			.client-intro__block-1-text-1= text 
			if colorLine 
				.client-intro__block-1-line(style=`background-color: ${colorLine}`)
				.client-intro__block-1-text-2 Подробнее о проекте
			if bks	
				.client-intro__block-1-nav(style= st)  БКС Мой Брокер
			else
				.client-intro__block-1-nav БКС Мой Брокер	
			if psb				
				.client-intro__block-1-nav(style= st)  ПСБ Инвестиции	 
			else	
				.client-intro__block-1-nav ПСБ Инвестиции	
			if rshb
				.client-intro__block-1-nav(style= st)  РСХБ Брокер 
			else	
				.client-intro__block-1-nav РСХБ Брокер 				
			if alpha
				.client-intro__block-1-nav(style= st)  АльфаСтрахование
			else	
				.client-intro__block-1-nav АльфаСтрахование					
		.client-intro__block-2
			.client-intro__block-2-circle(style=`background-color: ${colorCircle}`)
			.client-intro__block-2-phone
				img(src= path alt= name)

