.footer-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $MainDark;

  &__current, &__total {
    font-weight: 600;
  }

  &__total {
    color: $GrayDecor;
  }

  &__line {
    margin: 0 8px;
    width: 60px;
    background-color: $GrayDecor;
    height: 2px;
  }

  &__progress {
    width: 0%;
    height: 100%;
    background-color: $MainDark;
  }
}




