.footer-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $MainDark;
  margin-top: 40px;

  &__current,
  &__total {
    font-weight: 600;
  }

  &__total {
    color: $GrayDecor;
  }

  &__line {
    width: 60px;
    height: 2px;
    margin: 0 8px;
    background-color: $GrayDecor;
  }

  &__progress {
    width: 0%;
    height: 100%;
    background-color: $MainDark;

    .screen-5 & {
      background-color: $White;
    }
  }

  // ====================== привязка стиля к конкретной странице ======================================

  .screen-5 & a {
    color: $White;
  }

  .screen-5 & {
    color: $White;
  }
}
