.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__title {
    width: 100%;
    margin: 245px 0 75px 0;
    font-size: 32px;
    font-weight: 700;
  }

  &__intro {
    width: 620px;
    padding: 1px 0;
    margin: 0 650px 48px 0;

    &-icon {
      margin: 0 0 32px 0;
    }

    &-text {
      font-size: 20px;
      line-height: 170%;
    }
  }

  &__block-1 {
    width: 880px;
    padding: 1px 0;
    margin: 0 200px 50px 0;

    &-title {
      font-size: 24px;
      font-weight: 500;
    }

    &-text {
      font-size: 20px;
      line-height: 170%;
    }
  }

  &__block-2 {
    width: 800px;
    padding: 1px 0;
    margin: 240px 500px 0 0;

    &-title {
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 75px 0;
    }

    &-text {
      font-size: 20px;
      line-height: 170%;
      margin: 0 0 16px 0;
    }

    &-wrap {
      width: 400px;
      height: 30px;
      position: relative;
      // background: rgb(171, 199, 148);
      margin: 0 0 35px 80px;

      & img {
        position: absolute;
        top: 0;
        left: 0;
      }

      & span {
        position: absolute;
        top: 0;
        left: 50px;
      }
    }    
  }

  &__block-3 {
    width: 900px;
    padding: 1px 0;
    margin: 240px 500px 50px 0;

    &-title {
      font-size: 32px;
      font-weight: 700;
      margin: 0 0 75px 0;
    }

    &-text {
      font-size: 20px;
      line-height: 170%;
      margin: 0 0 46px 0;

      & span {
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  &--margin-1 {
    margin-bottom: 200px;
  }

  &--margin-2 {
    margin-left: 100px;
  }

  &--margin-3 {
    margin: 0 0 56 0;
  }

  &--color-blue {
    color: $Blue;
  }
}

// @media screen and (max-width: 1400px) {}
