.about--ground-fix
.about.container
	.about__title Мы

	.about__intro
		.about__intro-icon
			img(src= '/../assets/img/about-1.png' alt= 'about-1')
		.about__intro-text  13 лет с заказчиками создаем сложные, продуманные до мелочей приложения.
	.about__intro
		.about__intro-icon
			img(src= '/../assets/img/about-2.png' alt= 'about-2')
		.about__intro-text  Знаем, как и где взять данные для приложений
	.about__intro
		.about__intro-icon
			img(src= '/../assets/img/about-3.png' alt= 'about-3')
		.about__intro-text  Выполняем нашу работу быстрее наших конкурентов.
	.about__intro.about--margin-1
		.about__intro-icon
			img(src= '/../assets/img/about-4.png' alt= 'about-4')
		.about__intro-text  Создали линейку собственных программных продуктов.

	.about__block-1
		.about__block-1-text  
			span.about__block-1-title  «EffectiveTrade Mobile»
			|  — это удобная архитектура, состоящая из собственных решений СloudFactory и разворачивающихся  на стороне заказчика. 

	.about__block-1
		.about__block-1-title  Состоит из модулей:
		.about__block-1-text  
			span.about--color-blue Effectevetrade DataHub
			|  — API в виде REST сервиса.
		.about__block-1-text  	
			span.about--color-blue Effectevetrade Trading
			|  — решение, предназначенное для выставления заявок и связанных с этим бизнес-процессов.
		.about__block-1-text  	
			span.about--color-blue Effectevetrade Position keeping
			|  — аналитическая база данных.

	.about__block-2
		.about__block-2-title  МОДУЛЬ EFFECTIVETRADE DATAHUB
		.about--margin-2
			.about__block-2-text Ядро обработки  веб-запросов API в виде REST сервиса
			.about__block-2-text Идентификация права
			.about__block-2-text Портфельные данные
			.about__block-2-text Рыночные данные
			.about__block-2-text Торговые операции
			.about__block-2-text Неторговые операции
			.about__block-2-text Платежные системы
			.about__block-2-text Новости, аналитика, рекомендации
			.about__block-2-text Чаты и поддержка
			.about__block-2-text Продукты и сервисы
			.about__block-2-text Удаленное открытие счета
			.about__block-2-text Партнерские отношения

	.about__block-2
		.about__block-2-title  МОДУЛЬ EFFECTIVETRADE TRADING
		.about__block-2-wrap
			img(src= '/../assets/img/about-5.png' alt= 'about-5')
			span Отправка заявок
		.about__block-2-wrap
			img(src= '/../assets/img/about-6.png' alt= 'about-6')
			span Различные типы иснтрументов
		.about__block-2-wrap
			img(src= '/../assets/img/about-7.png' alt= 'about-7')
			span Смс/пин-код/TouchID/FaceId
		.about__block-2-wrap
			img(src= '/../assets/img/about-8.png' alt= 'about-8')
			span Журнал заявок

	.about__block-3
		.about__block-3-title  МОДУЛЬ EFFECTIVETRADE POSITION KEEPING
		.about__block-3-text 
			span Аналитическая база данных 
			| предназначенная для обработки операций всех типов финансовых инструментов и всех видов сделок в режиме онлайн.
		.about__block-3-text Отображение позиции на текущую дату в режиме реального времени.
		.about__block-3-text Возможность просмотра позиции на любую историческую дату.
		.about__block-3-text Построение диаграмм  распределения активов в портфеле.
		.about__block-3-text Построение графика доходности, прибыли за период с возможностью сравнения с выбранными бенчмарками.
		.about__block-3-text Соблюдение инвестиционных деклараций.



